.chitchatclient .msg td {
    padding-right: 15px;
}

.btn-round {
    /*background-color: rgb(235, 237, 244);*/
    background-color: rgb(241, 243, 250);
    border: none;
    color: #716aca;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 5px 5px 0;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 3px 5px 1px rgba(69,65,78,.15);
    cursor: pointer;
}

.btn-round:hover {
    background-color: white;
}

.btn {
    border: 0;

    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    background: #716aca;
    color: white;
    font-size: 100%;
    white-space: nowrap;
    text-decoration: none;
    padding: 10px 25px;
    margin: 0.25rem;
    cursor: pointer;
}

button:hover,
button:focus {
    background: #605aab;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.chatBtn {
    margin: 0 5px 5px 0;
}

.chatBtn:disabled {
    background-color: #9d9fa7;
    border-color: #9d9fa7;
}

.chatBtn.chosen:disabled{
    background-color: #34bfa3;
}

/* Customize the label (the checkBoxRow) */
.checkBoxRow {
    display: block;
    position: relative;
    padding: 3px 10px 0 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 25px;
}

/* Hide the browser's default checkbox */
.checkBoxRow input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #d4d5dc;
}

/* On mouse-over, add a grey background color */
.checkBoxRow:hover input ~ .checkmark {
    background-color: #b5b7bc;
}

/* When the checkbox is checked, add a green background */
.checkBoxRow input.chosen ~ .checkmark {
    background-color: #34bfa3;
}

/* When the checkbox is checked, add a blue background */
.checkBoxRow input:checked ~ .checkmark {
    background-color: #837ce1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkBoxRow input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkBoxRow .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkboxSendBtn:disabled {
    background-color: #9d9fa7;
    border-color: #9d9fa7;
}